<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Yay&#39;Koffee Website Template</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body ng-app='user'> 
	<div id="page">
		<div>
			<div id="header">
				<a href="index.html"><img src="images/logo.png" alt="Image"></a>
				<ul>
					<li class="current">
						<a href="#/main">Home</a>
					</li>
					<li>
						<a href="#/menu">Menu</a>
					</li>
					<li>
						<a href="#/locations">Locations</a>
					</li>
					<li>
						<a href="#/order">take your order</a>
					</li>
				</ul>
			</div>
									<ng-view></ng-view>
			<div id="footer">
				<div>
					<a href="index.html"><img src="images/logo2.png" alt="Image"></a>
					<p class="footnote">
						&copy; Yay&#33;Koffee 2011.<br>All Rights Reserved.
					</p>
				</div>
				<div class="section">
					
					
					<div id="connect">
						<a href="#" target="_blank" id="facebook">Facebook</a>
						<a href="#" target="_blank" id="twitter">Twitter</a>
						<a href="#" target="_blank" id="googleplus">Google+</a>
						<a href="#" id="rss">RSS</a>
					</div>
					<p><div ng-controller="indexController" >
						<input type="text" ng-model="email" placeholder="email" required><br>
						<input type="password" ng-model="pass" placeholder="password"required><br> 
						<p>{{msg}}</p>
						<input type="submit" ng-click="login(email,pass)" value="Login" style="width:245px"> </div>
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="lib/angular/angular.js"></script>
	<script src="lib/angular-route/angular-route.js"></script>
	<script src="app/account/MENU.js"></script>
	<script src="app/account/LOCATIONS.js"></script>
	<script src="app/account/ADMIN_PAGE.js"></script>
	<script src="app/account/MAIN.js"></script>
	<script src="app/account/INDEX.js"></script>
	<script src="app/account/ORDER.js"></script>
	<script src="app/services.js"></script>
	<script src="app/app.js"></script>
	<script src="app/account/MAIN.js"></script>
	
</html>